* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Header*/
header{
  background-color: #303030;
  color: #ccc;
  padding: 15px;
  text-indent: 14px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.logo-box {
  cursor: pointer;
}
.logo-box:hover {
  opacity: 65%;
}
/*Main*/
body {
  background-color: #222;
  font-family: Arial, sans-serif;
}
.Campanha-box {
  background-color: #333;
  color: #b9b8b8;
  padding: 25px;
  margin: 30px auto;
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.Descricao1{
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: large;
}
.Descricao2{
  font-size: small;
}
.Campanha-box h2 {
  color: #e3e3e3;
  text-align: center;
  margin-bottom: 20px;
}
.Campanha-box p {
  text-align: justify;
  margin-bottom: 20px;
}
.trailer-box{
  display: flex;
  justify-content: center;
}
iframe{
  box-shadow: 0 0 10px rgb(0, 0, 0);
  border:3px solid #430000;
}
.atores-box {
  margin-top: 50px;
}

.ator {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.ator img {
  width: 70px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}
.info .nome {
  font-weight: bold;
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}

.info .papel {
  color: #666;
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.info .personagens {
  font-style: italic;
  color: #888;
  font-size: 14px;
  display: block;
}